[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=6"
django-crispy-forms = "*"
crispy-bulma = {ref = "main", git = "git+https://github.com/elixir-sante/crispy-bulma.git"}

[dev-packages]
coverage = "*"

[requires]
python_version = "3.14"
