{% load elixir_toolkit_tags %}

{% toolkit_css %}
<a {% if href %}href="{{ href }}"{% endif %} class="button {{ css_classes }}" {{ attrs }}>
    
    {# Icône à GAUCHE (par défaut) #}
    {% if icon and not icon_right %}
    <span class="icon">
        <i class="{{ icon }}"></i>
    </span>
    {% endif %}

    {% if text %}
    <span>{{ text }}</span>
    {% endif %}

    {# Icône à DROITE #}
    {% if icon and icon_right %}
    <span class="icon">
        <i class="{{ icon }}"></i>
    </span>
    {% endif %}
</a>