{% load elixir_toolkit_tags %}

<div class="control {% if icon %}has-icons-left{% endif %}">
    <div class="{% if not multiple %}select{% endif %} {{ css_classes }} {% if field.errors %}is-danger{% endif %}" style="width:100%">
        {% if icon %}
        <span class="icon is-small is-left">
            <i class="fas {{ icon }}"></i>
        </span>
        {% endif %}

        <select 
            name="{{ name }}" 
            id="{{ element_id }}" 
            aria-label="{{ name }}" 
            placeholder="{{ placeholder }}"
            class="selectize-control selectize-font-size-16 {% if field.errors %}input-error{% endif %}" 
            {% if disabled %}disabled{% endif %} 
            {% if required %}required=""{% endif %} 
            {% if multiple %}multiple{% endif %}
        >
            {% if placeholder and not multiple %}
                <option class="placeholder is-size-4" value="" {% if not selected_list %}selected{% endif %}>{{ placeholder }}</option>
            {% endif %}

            {% for value, label in options %}
                <option class="is-size-6" value="{{ value }}" {% if value|stringformat:"s" in selected_list or value in selected_list %}selected{% endif %}>
                    {{ label }}
                </option>
            {% endfor %}
        </select>
    </div>
    
    {% if field.errors %}
        {% for error in field.errors %}<p class="help is-danger">{{ error }}</p>{% endfor %}
    {% endif %}
    {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
</div>

<script>
$(document).ready(function() {
    window.selectizeInstances = window.selectizeInstances || [];

    var closeOthers = function(current) {
        window.selectizeInstances.forEach(function(instance) {
            if (instance !== current && instance.isOpen) {
                instance.close();
            }
        });
    };

    var config = {
        delimiter: ',',
        persist: false,
        create: false,
        maxItems: {% if multiple %}null{% else %}1{% endif %}, openOnFocus: false,
        plugins: ['clear_button'],
        dropdownParent: 'body',
        onInitialize: function() {
            window.selectizeInstances.push(this);
            if ($('#{{ element_id }}').is(':disabled')) {
                this.disable();
            }
        },
        onDropdownOpen: function() {
            closeOthers(this);
        }
    };

    if ("{{ name }}" === "icon") {
        config.render = {
            option: function(data, escape) {
                return '<div class="is-size-6"><i class="fas p-2 fa-' + escape(data.value) + ' mr-2"></i>' + escape(data.text) + '</div>';
            },
            item: function(data, escape) {
                return '<div class="is-size-6"><i class="fas fa-' + escape(data.value) + ' mr-1"></i>' + escape(data.text) + '</div>';
            }
        };
    }

    var $select = $('#{{ element_id }}').selectize(config);
    var instance = $select[0].selectize;

    var $control = $(instance.$control);
    $control.addClass('input');
    $('.selectize-dropdown').removeClass('input'); 
    
});
</script>