{% load elixir_toolkit_tags %}

<div class="table-container">
    <table class="table is-fullwidth is-hoverable {{ css_classes }}">
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    {% for cell in row %}
                        <td class="{{ cell.class }}" data-label="{{ cell.header }}">
                            <div class="is-flex is-align-items-center">
                                {% if cell.icon %}
                                    <span class="icon has-text-primary mr-2">
                                        <i class="fa-solid fa-{{ cell.icon }}"></i>
                                    </span>
                                {% endif %}
                                
                                <div>
                                    <span class="is-block">
                                        {% if cell.type == 'price' %}
                                            {{ cell.value|floatformat:2 }}€
                                        {% elif cell.type == 'badge' %}
                                            <span class="tag is-primary is-light is-rounded">{{ cell.value }}</span>
                                        {% else %}
                                            {{ cell.value|default:"" }}{{ cell.suffix }}
                                        {% endif %}
                                    </span>
                                    
                                    {% if cell.sub_value %}
                                        <div class="is-size-7 has-text-grey">
                                            {{ cell.sub_value }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        {# Bloc TFOOT dynamique ajouté au toolkit #}
        {% if totals %}
        <tfoot>
            <tr class="has-background-white-bis has-text-weight-bold">
                {% for total in totals %}
                    <td class="{{ total.class }}">
                        {% if total.value %}
                            {% if total.type == 'price' and total.value|is_numeric %}
                                {{ total.value|floatformat:2 }}€
                            {% else %}
                                {{ total.value }}
                            {% endif %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        </tfoot>
        {% endif %}
    </table>
</div>