{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@{{ bulma_version }}/css/bulma.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.default.min.css" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js" integrity="sha512-qzgd5cYSZcosqpzpn7zF2ZId8f/8CHmFKZ8j7mU4OUXTNRd5g+ZHBPsgKEwoqxCtdQvExE5LprwwPAgoicguNg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'elixir_toolkit/js/fields-dependencies.js' %}"></script>
<script src="{% static 'elixir_toolkit/js/ckeditor-clipboard-manager.js' %}"></script>
<script src="{% static 'elixir_toolkit/js/ckeditor-load-external-plugins.js' %}"></script>
<script src="{% static 'elixir_toolkit/js/ckeditor-upload-adapter.js' %}"></script>
<script src="{% static 'elixir_toolkit/js/tabs-scroll-hints.js' %}"></script>
<script src="{% static 'elixir_toolkit/js/tablesorter-init.js' %}"></script>
<script src="{% static 'elixir_toolkit/js/table-filter.js' %}"></script>



<link rel="stylesheet" href="{% static 'elixir_toolkit/css/selectize.css' %}">
<link rel="stylesheet" href="{% static 'elixir_toolkit/css/button.css' %}">
<link rel="stylesheet" href="{% static 'elixir_toolkit/css/bulma-list.css' %}">
<link rel="stylesheet" href="{% static 'elixir_toolkit/css/ckeditor.css' %}">
<link rel="stylesheet" href="{% static 'elixir_toolkit/css/tabs.css' %}">
<link rel="stylesheet" href="{% static 'elixir_toolkit/css/spinner.css' %}">
<link rel="stylesheet" href="{% static 'elixir_toolkit/css/tablesorter.css' %}">

