{% extends "base.html" %}
{% block body %}
{% load elixir_toolkit_tags %}
{% load crispy_forms_tags %}

<h1>Django Elixir toolkit</h1>

<h2>Simple components</h2>

<a href="#" class="button is-primary">Bouton primary</a>
<a href="#" class="button">Bouton</a>
{% ui_button text="Supprimer" icon="fas fa-trash has-text-danger" %}
{% ui_button text="Voir la doc" href="https://bulma.io" target="_blank" icon="fas fa-book" %}
{% ui_button_primary text="bouton primary" css_classes="is-large is-loading is-rounded" id="submit-btn" %}
{% ui_button_primary text="Suivant" icon="fas fa-arrow-left" %}
{% ui_button_primary text="Continuer" icon="fas fa-arrow-right" icon_right=True %}
{% ui_button_secondary text="bouton secondary" icon="fas fa-arrow-right" icon_right=True %}


{% ui_select  name="filtre_status"  options="[('SCHE', 'Paiement échéance'), ('FREE', 'Montant libre')]" selected="SCHE" icon="fa-filter" placeholder="Filtrer par statut..." %}

{% ui_select name="payment_mode" options=mes_options_paiement selected=mode_par_defaut icon="fa-credit-card"  placeholder="Choisir le mode..." %}

<br>
<p> Filtres </p>
{% ui_filter_bar filters=mes_filtres identifier="colors" %}
<br>
<div class="columns is-multiline mt-5" id="container-objets">
        {% for obj in objets_test %}
            {# data-val-0 = couleur, data-val-1 = chiffre #}
            <div class="column is-3 item-a-filtrer" 
                 data-val-0="{{ obj.color }}" 
                 data-val-1="{{ obj.num }}">
                <div class="notification is-light has-text-centered">
                    <strong>{{ obj.name }}</strong>
                </div>
            </div>
        {% endfor %}
    </div>
<br>

<h2>Form</h2>

<form method="post">
    {% csrf_token %}
    {% crispy form %}
    <input type="submit" value="Envoyer">
</form>
<script>
   document.addEventListener('filterChanged', function(e) {
    if (e.detail.identifier === 'colors') {
        const state = e.detail.state;

        document.querySelectorAll('.item-a-filtrer').forEach(item => {
            let isMatch = true;

            Object.keys(state).forEach(groupIdx => {
                const selectedValues = state[groupIdx];

                if (selectedValues.length > 0) {
                    const itemValue = item.getAttribute(`data-val-${groupIdx}`);

                    // 🔥 OU dans le groupe
                    if (!selectedValues.includes(itemValue)) {
                        isMatch = false;
                    }
                }
            });

            item.style.display = isMatch ? "block" : "none";
        });
    }
});
</script>
{% endblock %}
