{% extends "base.html" %}
{% load elixir_toolkit_tags %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container">
    <h1 class="title is-1">Django Elixir toolkit</h1>

<div class="box">
    <h2 class="title is-2">Sommaire</h2>
    <ul>
        <li><a href="#boutons">Boutons</a></li>
        <li><a href="#stepper">Stepper</a></li>
        <li><a href="#selects">Sélecteurs (Selectize)</a></li>
        <li><a href="#filtres">Filtres</a></li>
        <li><a href="#listes">Listes</a></li>
        <li><a href="#tableaux">Tableaux</a></li>
        <li>
            <a href="{% url 'table_filter_example' %}" target="_blank">
                <span class="icon has-text-info">
                    <i class="fas fa-external-link-alt"></i>
                </span>
                <span>Exemples de filtrage de tableau</span>
            </a>
        </li>
        <li><a href="#champs-date">Champs date</a></li>
        <li><a href="#formulaire">Formulaire</a></li>
    </ul>
</div>

<div class="box">
    <h2 id="boutons" class="title is-3">Boutons</h2>
    
    <a href="#" class="button is-primary">Bouton primary</a>
    <a href="#" class="button">Bouton</a>
    {% ui_button text="Supprimer" icon="fas fa-trash has-text-danger" %}
    {% ui_button text="Voir la doc" href="https://bulma.io" target="_blank" icon="fas fa-book" %}
    {% ui_button_primary text="bouton primary" css_classes="is-large is-loading is-rounded" id="submit-btn" %}
    {% ui_button_primary text="Suivant" icon="fas fa-arrow-left" %}
    {% ui_button_primary text="Continuer" icon="fas fa-arrow-right" icon_right=True %}
    {% ui_button_secondary text="bouton secondary" icon="fas fa-arrow-right" icon_right=True %}
</div>

<div class="box">
    <h2 id="stepper" class="title is-3">Stepper</h2>
    
    <h3 class="title is-4">Libellés simples, étape 2 active</h3>
    {% ui_stepper etapes_simples current=2 %}
    
    <h3 class="title is-4">Avec descriptions et icônes, étape 3 active</h3>
    {% ui_stepper etapes_detaillees current=3 aria_label="Création de compte" %}
    
    <h3 class="title is-4">Étapes complétées explicites (1 et 3), étape 2 active</h3>
    {% ui_stepper etapes_simples current=2 completed="1,3" %}
    
    <h3 class="title is-4">6 étapes</h3>
    {% ui_stepper etapes_simples_6 current=1 completed="" %}
</div>

<div class="box">
    <h2 id="selects" class="title is-3">Sélecteurs (Selectize)</h2>
    
    <h3 class="title is-4">Selectize simple</h3>
    
    <h3 class="title is-4">Avec option déjà sélectionnée</h3>
    {% ui_select  name="filtre_status"  options=mes_options_paiement selected="SCHE" icon="fa-filter" placeholder="Filtrer par statut..." %}
    
    <h3 class="title is-4">Sans présélection</h3>
    {% ui_select name="payment_mode" options=mes_options_paiement icon="fa-credit-card" placeholder="Choisir le mode..." %}
    
    <h3 class="title is-4">Selectize multiple</h3>
    {% ui_select name="payment_mode_multiple" multiple=True options=mes_options_paiement selected=None icon="fa-credit-card"  placeholder="Choisir le mode..." %}
</div>


<div class="box">
    <h2 id="filtres" class="title is-3">Filtres</h2>
    
    {% ui_filter_bar filters=mes_filtres identifier="colors" %}
    <br>
    <div class="columns is-multiline mt-5" id="container-objets">
            {% for obj in objets_test %}
                {# data-val-0 = couleur, data-val-1 = chiffre #}
                <div class="column is-3 item-a-filtrer" 
                     data-val-0="{{ obj.color }}" 
                     data-val-1="{{ obj.num }}">
                    <div class="notification is-light has-text-centered">
                        <strong>{{ obj.name }}</strong>
                    </div>
                </div>
            {% endfor %}
        </div>
</div>

<div class="box">
    <h2 id="listes" class="title is-3">Listes</h2>
    
    {% ui_list items=remboursements_test title_field="libelle" desc_field="date_info" extra_field="montant" tag_label_field="patient" tag_icon_field="user_icon" icon_field="type_icon" %}
</div>

<div class="box">
    <h2 id="tableaux" class="title is-3">Tableaux</h2>

<h3 class="title is-4">Tableau simple</h3>
{% ui_table css_classes="is-striped is-narrow" %}
    <thead>
        <tr>
            {% ui_th %}Produit{% end_ui_th %}
            {% ui_th %}Catégorie{% end_ui_th %}
            {% ui_th %}Prix Unit.{% end_ui_th %}
            {% ui_th %}Quantité{% end_ui_th %}
        </tr>
    </thead>
    <tbody>
        {% for item in donnees_inventaire %}
        <tr>
            {% ui_td %}
                <span class="icon">
                    <i class="fas fa-{{ item.icon_item }}"></i>
                </span>
                <strong>{{ item.nom }}</strong>
                <div class="is-size-7 has-text-grey">{{ item.sku }}</div>
            {% end_ui_td %}
            {% ui_td %}{% ui_tag text=item.categorie color="primary" %}{% end_ui_td %}
            {% ui_td css_classes="has-text-weight-bold" %}{{ item.prix|floatformat:2 }} €{% end_ui_td %}
            {% ui_td %}{{ item.stock }} unités{% end_ui_td %}
        </tr>
        {% endfor %}
        <tr>
            {% ui_td %}
                <span class="icon">
                    <i class="fas fa-laptop"></i>
                </span>
                <strong>Ordinateur Portable Pro</strong>
                <div class="is-size-7 has-text-grey">ORD-2024-001</div>
            {% end_ui_td %}
            {% ui_td %}{% ui_tag text="Électronique" color="primary" %}{% end_ui_td %}
            {% ui_td css_classes="has-text-weight-bold" %}1299.99 €{% end_ui_td %}
            {% ui_td %}15 unités{% end_ui_td %}
        </tr>
        <tr>
            {% ui_td %}
                <span class="icon">
                    <i class="fas fa-mouse"></i>
                </span>
                <strong>Souris Sans Fil</strong>
                <div class="is-size-7 has-text-grey">MOU-2024-045</div>
            {% end_ui_td %}
            {% ui_td %}{% ui_tag text="Accessoire" color="info" %}{% end_ui_td %}
            {% ui_td css_classes="has-text-weight-bold" %}29.99 €{% end_ui_td %}
            {% ui_td %}42 unités{% end_ui_td %}
        </tr>
        <tr>
            {% ui_td %}
                <span class="icon">
                    <i class="fas fa-keyboard"></i>
                </span>
                <strong>Clavier Mécanique</strong>
                <div class="is-size-7 has-text-grey">CLA-2024-032</div>
            {% end_ui_td %}
            {% ui_td %}{% ui_tag text="Accessoire" color="info" %}{% end_ui_td %}
            {% ui_td css_classes="has-text-weight-bold" %}89.50 €{% end_ui_td %}
            {% ui_td %}23 unités{% end_ui_td %}
        </tr>
    </tbody>
{% end_ui_table %}

<br>
<br>

<h3 class="title is-4">Tableau triable</h3>
{% ui_table css_classes="is-striped is-narrow" orderable=True %}
    <thead>
        <tr>
            {% ui_th %}Produit{% end_ui_th %}
            {% ui_th %}Catégorie{% end_ui_th %}
            {% ui_th orderable=False %}Prix Unit.{% end_ui_th %}
            {% ui_th %}Quantité{% end_ui_th %}
        </tr>
    </thead>
    <tbody>
        {% for item in donnees_inventaire %}
        <tr>
            {% ui_td %}
                <span class="icon">
                    <i class="fas fa-{{ item.icon_item }}"></i>
                </span>
                <strong>{{ item.nom }}</strong>
                <div class="is-size-7 has-text-grey">{{ item.sku }}</div>
            {% end_ui_td %}
            {% ui_td %}{% ui_tag text=item.categorie color="primary" %}{% end_ui_td %}
            {% ui_td css_classes="has-text-weight-bold" %}{{ item.prix|floatformat:2 }} €{% end_ui_td %}
            {% ui_td %}{{ item.stock }} unités{% end_ui_td %}
        </tr>
        {% endfor %}
        <tr>
            {% ui_td %}
                <span class="icon">
                    <i class="fas fa-laptop"></i>
                </span>
                <strong>Ordinateur Portable Pro</strong>
                <div class="is-size-7 has-text-grey">ORD-2024-001</div>
            {% end_ui_td %}
            {% ui_td %}{% ui_tag text="Électronique" color="primary" %}{% end_ui_td %}
            {% ui_td css_classes="has-text-weight-bold" %}1299.99 €{% end_ui_td %}
            {% ui_td %}15 unités{% end_ui_td %}
        </tr>
        <tr>
            {% ui_td %}
                <span class="icon">
                    <i class="fas fa-mouse"></i>
                </span>
                <strong>Souris Sans Fil</strong>
                <div class="is-size-7 has-text-grey">MOU-2024-045</div>
            {% end_ui_td %}
            {% ui_td %}{% ui_tag text="Accessoire" color="info" %}{% end_ui_td %}
            {% ui_td css_classes="has-text-weight-bold" %}29.99 €{% end_ui_td %}
            {% ui_td %}42 unités{% end_ui_td %}
        </tr>
        <tr>
            {% ui_td %}
                <span class="icon">
                    <i class="fas fa-keyboard"></i>
                </span>
                <strong>Clavier Mécanique</strong>
                <div class="is-size-7 has-text-grey">CLA-2024-032</div>
            {% end_ui_td %}
            {% ui_td %}{% ui_tag text="Accessoire" color="info" %}{% end_ui_td %}
            {% ui_td css_classes="has-text-weight-bold" %}89.50 €{% end_ui_td %}
            {% ui_td %}23 unités{% end_ui_td %}
        </tr>
        <tr>
            {% ui_td %}
                <span class="icon">
                    <i class="fas fa-mobile-alt"></i>
                </span>
                <strong>Smartphone Galaxy</strong>
                <div class="is-size-7 has-text-grey">SMG-2024-012</div>
            {% end_ui_td %}
            {% ui_td %}{% ui_tag text="Électronique" color="primary" %}{% end_ui_td %}
            {% ui_td css_classes="has-text-weight-bold" %}799.00 €{% end_ui_td %}
            {% ui_td %}8 unités{% end_ui_td %}
        </tr>
        <tr>
            {% ui_td %}
                <span class="icon">
                    <i class="fas fa-headphones"></i>
                </span>
                <strong>Casque Audio Bluetooth</strong>
                <div class="is-size-7 has-text-grey">CAS-2024-067</div>
            {% end_ui_td %}
            {% ui_td %}{% ui_tag text="Audio" color="success" %}{% end_ui_td %}
            {% ui_td css_classes="has-text-weight-bold" %}149.95 €{% end_ui_td %}
            {% ui_td %}18 unités{% end_ui_td %}
        </tr>
        <tr>
            {% ui_td %}
                <span class="icon">
                    <i class="fas fa-chair"></i>
                </span>
                <strong>Chaise de Bureau</strong>
                <div class="is-size-7 has-text-grey">CHA-2024-008</div>
            {% end_ui_td %}
            {% ui_td %}{% ui_tag text="Mobilier" color="warning" %}{% end_ui_td %}
            {% ui_td css_classes="has-text-weight-bold" %}199.99 €{% end_ui_td %}
            {% ui_td %}5 unités{% end_ui_td %}
        </tr>
        <tr>
            {% ui_td %}
                <span class="icon">
                    <i class="fas fa-desktop"></i>
                </span>
                <strong>Écran 27 pouces</strong>
                <div class="is-size-7 has-text-grey">ECR-2024-022</div>
            {% end_ui_td %}
            {% ui_td %}{% ui_tag text="Électronique" color="primary" %}{% end_ui_td %}
            {% ui_td css_classes="has-text-weight-bold" %}349.99 €{% end_ui_td %}
            {% ui_td %}12 unités{% end_ui_td %}
        </tr>
        <tr>
            {% ui_td %}
                <span class="icon">
                    <i class="fas fa-usb"></i>
                </span>
                <strong>Clé USB 128Go</strong>
                <div class="is-size-7 has-text-grey">USB-2024-089</div>
            {% end_ui_td %}
            {% ui_td %}{% ui_tag text="Stockage" color="dark" %}{% end_ui_td %}
            {% ui_td css_classes="has-text-weight-bold" %}19.99 €{% end_ui_td %}
            {% ui_td %}56 unités{% end_ui_td %}
        </tr>
    </tbody>
{% end_ui_table %}

<br>
<br>

<h3 class="title is-4">Tableau avec filtrage</h3>

<!-- Champ de recherche pour le filtrage -->
<div class="field has-addons mb-4">
    <div class="control is-expanded">
        <input type="text" id="table-filter-input" class="input" placeholder="Rechercher dans le tableau...">
    </div>
    <div class="control">
        <button class="button is-info" onclick="document.getElementById('table-filter-input').value = ''; $('#table-filter-input').trigger('input');">
            Effacer
        </button>
    </div>
</div>

<!-- Tableau avec filtrage activé -->
{% ui_table css_classes="is-striped is-narrow" filterable=True filter_target="#table-filter-input" filter_columns="0,1,2" %}
    <thead>
        <tr>
            {% ui_th %}Produit{% end_ui_th %}
            {% ui_th %}Catégorie{% end_ui_th %}
            {% ui_th %}Prix Unit.{% end_ui_th %}
            {% ui_th %}Quantité{% end_ui_th %}
        </tr>
    </thead>
    <tbody>
        {% for item in donnees_inventaire %}
        <tr>
            {% ui_td %}
                <span class="icon">
                    <i class="fas fa-{{ item.icon_item }}"></i>
                </span>
                <strong>{{ item.nom }}</strong>
                <div class="is-size-7 has-text-grey">{{ item.sku }}</div>
            {% end_ui_td %}
            {% ui_td %}{% ui_tag text=item.categorie color="primary" %}{% end_ui_td %}
            {% ui_td css_classes="has-text-weight-bold" %}{{ item.prix|floatformat:2 }} €{% end_ui_td %}
            {% ui_td %}{{ item.stock }} unités{% end_ui_td %}
        </tr>
        {% endfor %}
        <tr>
            {% ui_td %}
                <span class="icon">
                    <i class="fas fa-laptop"></i>
                </span>
                <strong>Ordinateur Portable Pro</strong>
                <div class="is-size-7 has-text-grey">ORD-2024-001</div>
            {% end_ui_td %}
            {% ui_td %}{% ui_tag text="Électronique" color="primary" %}{% end_ui_td %}
            {% ui_td css_classes="has-text-weight-bold" %}1299.99 €{% end_ui_td %}
            {% ui_td %}15 unités{% end_ui_td %}
        </tr>
        <tr>
            {% ui_td %}
                <span class="icon">
                    <i class="fas fa-mouse"></i>
                </span>
                <strong>Souris Sans Fil</strong>
                <div class="is-size-7 has-text-grey">MOU-2024-045</div>
            {% end_ui_td %}
            {% ui_td %}{% ui_tag text="Accessoire" color="info" %}{% end_ui_td %}
            {% ui_td css_classes="has-text-weight-bold" %}29.99 €{% end_ui_td %}
            {% ui_td %}42 unités{% end_ui_td %}
        </tr>
        <tr>
            {% ui_td %}
                <span class="icon">
                    <i class="fas fa-keyboard"></i>
                </span>
                <strong>Clavier Mécanique</strong>
                <div class="is-size-7 has-text-grey">CLA-2024-032</div>
            {% end_ui_td %}
            {% ui_td %}{% ui_tag text="Accessoire" color="info" %}{% end_ui_td %}
            {% ui_td css_classes="has-text-weight-bold" %}89.50 €{% end_ui_td %}
            {% ui_td %}23 unités{% end_ui_td %}
        </tr>
    </tbody>
{% end_ui_table %}

<br>
<br>

<h3 class="title is-4">Tableau avec filtrage sur colonne spécifique</h3>
<p>Ce tableau ne filtre que sur la colonne "Catégorie" (colonne 1)</p>

<!-- Champ de recherche pour le filtrage sur colonne spécifique -->
<div class="field has-addons mb-4">
    <div class="control is-expanded">
        <input type="text" id="category-filter-input" class="input" placeholder="Rechercher par catégorie...">
    </div>
</div>

<!-- Tableau avec filtrage sur colonne spécifique -->
{% ui_table css_classes="is-striped is-narrow" filterable=True filter_target="#category-filter-input" filter_columns="1" %}
    <thead>
        <tr>
            {% ui_th %}Produit{% end_ui_th %}
            {% ui_th %}Catégorie{% end_ui_th %}
            {% ui_th %}Prix Unit.{% end_ui_th %}
            {% ui_th %}Quantité{% end_ui_th %}
        </tr>
    </thead>
    <tbody>
        {% for item in donnees_inventaire %}
        <tr>
            {% ui_td %}
                <span class="icon">
                    <i class="fas fa-{{ item.icon_item }}"></i>
                </span>
                <strong>{{ item.nom }}</strong>
                <div class="is-size-7 has-text-grey">{{ item.sku }}</div>
            {% end_ui_td %}
            {% ui_td %}{% ui_tag text=item.categorie color="primary" %}{% end_ui_td %}
            {% ui_td css_classes="has-text-weight-bold" %}{{ item.prix|floatformat:2 }} €{% end_ui_td %}
            {% ui_td %}{{ item.stock }} unités{% end_ui_td %}
        </tr>
        {% endfor %}
        <tr>
            {% ui_td %}
                <span class="icon">
                    <i class="fas fa-laptop"></i>
                </span>
                <strong>Ordinateur Portable Pro</strong>
                <div class="is-size-7 has-text-grey">ORD-2024-001</div>
            {% end_ui_td %}
            {% ui_td %}{% ui_tag text="Électronique" color="primary" %}{% end_ui_td %}
            {% ui_td css_classes="has-text-weight-bold" %}1299.99 €{% end_ui_td %}
            {% ui_td %}15 unités{% end_ui_td %}
        </tr>
        <tr>
            {% ui_td %}
                <span class="icon">
                    <i class="fas fa-mouse"></i>
                </span>
                <strong>Souris Sans Fil</strong>
                <div class="is-size-7 has-text-grey">MOU-2024-045</div>
            {% end_ui_td %}
            {% ui_td %}{% ui_tag text="Accessoire" color="info" %}{% end_ui_td %}
            {% ui_td css_classes="has-text-weight-bold" %}29.99 €{% end_ui_td %}
            {% ui_td %}42 unités{% end_ui_td %}
        </tr>
    </tbody>
{% end_ui_table %}

<br>

<h3 class="title is-4">Tableau avec lignes expandables</h3>
<p>
    <strong>Fonctionnement :</strong> 
    Le tableau utilise des lignes avec la classe <code>table-row-expandable</code> pour les lignes principales 
    et <code>table-row-details</code> pour les lignes de détails (masquées par défaut avec <code>style="display: none;"</code>).
    Chaque ligne expandable a un attribut <code>data-target</code> pointant vers l'ID de la ligne de détails.
    Les boutons d'expansion ont la classe <code>expand-toggle</code> et le même <code>data-target</code>.
    Le JavaScript en bas de page gère le basculement des détails et le changement d'icônes.
</p>

<h4 class="title is-5 mt-4">Exemple 1 : Bouton avec libellé</h4>
{% ui_table css_classes="is-striped is-narrow is-fullwidth" %}
    <thead>
        <tr>
            {% ui_th %}Produit{% end_ui_th %}
            {% ui_th %}Catégorie{% end_ui_th %}
            {% ui_th %}Prix{% end_ui_th %}
            {% ui_th %}Actions{% end_ui_th %}
        </tr>
    </thead>
    <tbody>
        {% for item in donnees_inventaire %}
        <tr class="table-row-expandable" data-target="ex1-details-{{ forloop.counter }}">
            {% ui_td %}
                <span class="icon">
                    <i class="fas fa-{{ item.icon_item }}"></i>
                </span>
                <strong>{{ item.nom }}</strong>
                <div class="is-size-7 has-text-grey">{{ item.sku }}</div>
            {% end_ui_td %}
            {% ui_td %}{% ui_tag text=item.categorie color="primary" %}{% end_ui_td %}
            {% ui_td css_classes="has-text-weight-bold" %}{{ item.prix|floatformat:2 }} €{% end_ui_td %}
            {% ui_td %}
                <button class="button is-small is-text expand-toggle" data-target="ex1-details-{{ forloop.counter }}">
                    <span class="icon">
                        <i class="fas fa-chevron-down"></i>
                    </span>
                    <span>Détails</span>
                </button>
            {% end_ui_td %}
        </tr>
        <tr class="table-row-details" id="ex1-details-{{ forloop.counter }}" style="display: none;">
            <td colspan="4">
                <div class="content p-4">
                    <h4>Détails du produit : {{ item.nom }}</h4>
                    <p><strong>SKU :</strong> {{ item.sku }}</p>
                    <p><strong>Catégorie :</strong> {{ item.categorie }}</p>
                    <p><strong>Prix :</strong> {{ item.prix|floatformat:2 }} €</p>
                    <p><strong>Stock :</strong> {{ item.stock }} unités</p>
                    <p><strong>Description :</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
{% end_ui_table %}

<br>

<h4 class="title is-5 mt-4">Exemple 2 : Bouton icône seule (compact)</h4>
<p>Version simplifiée avec un bouton réduit à l'icône pour gagner de la place.</p>
{% ui_table css_classes="is-striped is-narrow is-fullwidth" %}
    <thead>
        <tr>
            {% ui_th %}Produit{% end_ui_th %}
            {% ui_th %}Catégorie{% end_ui_th %}
            {% ui_th %}Prix{% end_ui_th %}
            {% ui_th %}Actions{% end_ui_th %}
        </tr>
    </thead>
    <tbody>
        {% for item in donnees_inventaire|slice:":3" %}
        <tr class="table-row-expandable" data-target="ex2-details-{{ forloop.counter }}">
            {% ui_td %}
                <span class="icon">
                    <i class="fas fa-{{ item.icon_item }}"></i>
                </span>
                <strong>{{ item.nom }}</strong>
                <div class="is-size-7 has-text-grey">{{ item.sku }}</div>
            {% end_ui_td %}
            {% ui_td %}{% ui_tag text=item.categorie color="info" %}{% end_ui_td %}
            {% ui_td css_classes="has-text-weight-bold" %}{{ item.prix|floatformat:2 }} €{% end_ui_td %}
            {% ui_td %}
                <button class="button is-small is-white expand-toggle" data-target="ex2-details-{{ forloop.counter }}" title="Afficher/masquer les détails">
                    <span class="icon">
                        <i class="fas fa-chevron-down"></i>
                    </span>
                </button>
            {% end_ui_td %}
        </tr>
        <tr class="table-row-details" id="ex2-details-{{ forloop.counter }}" style="display: none;">
            <td colspan="4">
                <div class="content p-4">
                    <p class="mb-2"><strong>{{ item.nom }}</strong> - {{ item.sku }}</p>
                    <div class="columns is-mobile">
                        <div class="column is-3"><strong>Catégorie:</strong></div>
                        <div class="column">{{ item.categorie }}</div>
                        <div class="column is-3"><strong>Prix:</strong></div>
                        <div class="column">{{ item.prix|floatformat:2 }} €</div>
                        <div class="column is-3"><strong>Stock:</strong></div>
                        <div class="column">{{ item.stock }} unités</div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
{% end_ui_table %}

<br>

<h4 class="title is-5 mt-4">Exemple 3 : Expansion sur toute la ligne + bouton</h4>
<p>Ici, on peut cliquer <strong>partout sur la ligne</strong> pour expand/collapse, en plus du bouton. Utile pour une meilleure UX.</p>
{% ui_table css_classes="is-striped is-narrow is-fullwidth is-hoverable" %}
    <thead>
        <tr>
            {% ui_th %}Produit{% end_ui_th %}
            {% ui_th %}Catégorie{% end_ui_th %}
            {% ui_th %}Prix{% end_ui_th %}
            {% ui_th %}Actions{% end_ui_th %}
        </tr>
    </thead>
    <tbody>
        {% for item in donnees_inventaire|slice:":3" %}
        <tr class="table-row-expandable" data-target="ex3-details-{{ forloop.counter }}" style="cursor: pointer;">
            {% ui_td %}
                <span class="icon">
                    <i class="fas fa-{{ item.icon_item }}"></i>
                </span>
                <strong>{{ item.nom }}</strong>
                <div class="is-size-7 has-text-grey">{{ item.sku }}</div>
            {% end_ui_td %}
            {% ui_td %}{% ui_tag text=item.categorie color="success" %}{% end_ui_td %}
            {% ui_td css_classes="has-text-weight-bold" %}{{ item.prix|floatformat:2 }} €{% end_ui_td %}
            {% ui_td %}
                <button class="button is-small is-primary expand-toggle" data-target="ex3-details-{{ forloop.counter }}">
                    <span class="icon">
                        <i class="fas fa-chevron-down"></i>
                    </span>
                    <span>Voir</span>
                </button>
            {% end_ui_td %}
        </tr>
        <tr class="table-row-details" id="ex3-details-{{ forloop.counter }}" style="display: none;">
            <td colspan="4">
                <div class="content p-4 has-background-light">
                    <h4 class="mb-3">Fiche complète : {{ item.nom }}</h4>
                    <div class="mb-3">
                        <span class="tag is-primary is-medium">{{ item.categorie }}</span>
                        <span class="tag is-info is-medium ml-2">{{ item.stock }} en stock</span>
                        <span class="tag is-success is-medium ml-2">{{ item.prix|floatformat:2 }} €</span>
                    </div>
                    <p><strong>SKU :</strong> {{ item.sku }}</p>
                    <p><strong>Description technique :</strong> {{ item.nom }} est un produit de qualité, conçu pour répondre à vos besoins spécifiques. Garantie 2 ans incluse.</p>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
{% end_ui_table %}
</div>

<div class="box">
    <h2 id="champs-date" class="title is-3">Champs date</h2>
<p>Un <code>forms.DateField</code> standard suffit (voir la section « Dates » du formulaire ci-dessous). Un <code>&lt;input type="date"&gt;</code> écrit à la main est aussi pris en charge :</p>

<div class="columns mt-3">
    <div class="column is-4">
        <div class="field">
            <label class="label" for="date-html-vide">Vide</label>
            <div class="control">
                <input type="date" id="date-html-vide" name="date_html_vide">
            </div>
        </div>
    </div>
    <div class="column is-4">
        <div class="field">
            <label class="label" for="date-html-remplie">Remplie, libellé de croix personnalisé</label>
            <div class="control">
                <input type="date" id="date-html-remplie" name="date_html_remplie" value="2024-02-01" data-clear-label="Effacer la date de fin">
            </div>
        </div>
    </div>
    <div class="column is-4">
        <div class="field">
            <label class="label" for="date-html-readonly">Lecture seule</label>
            <div class="control">
                <input type="date" id="date-html-readonly" name="date_html_readonly" value="2024-02-01" readonly>
            </div>
        </div>
    </div>
</div>
</div>

<div class="box">
    <h2 id="formulaire" class="title is-3">Formulaire</h2>
    
    <form method="post">
    {% csrf_token %}
    {% crispy form %}
    <input type="submit" value="Envoyer">
</form>
</div>
</div>
<script>
   document.addEventListener('filterChanged', function(e) {
    if (e.detail.identifier === 'colors') {
        const state = e.detail.state;

        document.querySelectorAll('.item-a-filtrer').forEach(item => {
            let isMatch = true;

            Object.keys(state).forEach(groupIdx => {
                const selectedValues = state[groupIdx];

                if (selectedValues.length > 0) {
                    const itemValue = item.getAttribute(`data-val-${groupIdx}`);

                    // 🔥 OU dans le groupe
                    if (!selectedValues.includes(itemValue)) {
                        isMatch = false;
                    }
                }
            });

            item.style.display = isMatch ? "block" : "none";
        });
    }
});


</script>
{% endblock %}
