.button.is-primary:not(.is-outlined) {
    background-color: var(--bulma-primary) !important; 
}

.button.is-link {
    background-color: var(--secondary-color, #485fc7);
    border-color: transparent;
    color: #fff;
}
